body {
  background-color: #E1E2E3;
}

ul {
  text-align: center;
}

#background2 {
  display: none;
}

#highscore dd {
  padding-bottom: 0.25em;
}

#hud h1 {
  display: inline-block;
  font-weight: bold;
}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: white;
  text-align: center;
}

#loading h1 {
  padding-top: 10%;
}

#modal {
  background: white;
  position: absolute;
  display: block;
  text-align: center;
}

#score {
  /*padding-right: 2em;*/
}

#score #multiplier {
  display: inline-block;
  margin-left: -0.2em;
  z-index: 9;
}

.background {
  opacity: 0.7;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.card_container {
  height: 10em;
  margin: 1% 2%;
  perspective: 1000;
  -webkit-perspective: 1000;
  width: 8em;
  z-index: 1;
}

.card_container.flipped .card {
  transform: rotateY(180deg);
}

.card {
  border: thin solid black;
  box-shadow: -5px 5px 5px #aaa;
  font-size: 5em;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.35s linear;
}

.face {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.face.front {
}

.face.back {
  background-color: white;
  line-height: 2em;
  transform: rotateY(180deg);
  box-sizing: border-box;
}

.alert {
  font-weight: bolder;
  font-size: 4em;
  left: 50%;
  top: 50%;
  z-index: 10;
  position: absolute;
}

.alert.ng-hide {
  opacity: 0;
  top: 30%;
  transition:all linear 1.5s;
  -webkit-transition:all linear 1.5s;
}

.menu img {
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}

