ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.card {
  border: thin solid black;
  display: inline-block;
  margin: 1% 3%;
  width: 12%;
}

.card span {
  font-size: 4em;
  line-height: 2em;
  text-align: center;
  width: 100%;
}

.card.hidden {
  background-color: black;
}

.card.showing {
  background-color: white;
}

#timer {
  display: block;
  text-align: center;
}

#modal {
  background: white;
  position: absolute;
  display: block;
  text-align: center;
}
