<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>Memorize Master</title>

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/angular-csp.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/modal.css">
        <link rel="stylesheet" href="styles/card-patterns.css">
        <!-- endbuild -->
    </head>
    <body ng-csp ng-app="MemorizeMaster">
      <div ng-controller="GameCtrl">
        <div ng-controller="BackgroundCtrl">
          <img class="background" id="background1" src="images/city1.jpg">
          <img class="background" id="background2" src="images/grass1.jpg">
        </div>
        <div id="container" class="container-fluid">
          <h1 id="alert" ng-show="isAlerting">{{alert}}</h2>
          <div class="row" id="hud">
            <h1 id="stage">Stage {{stage}}</h1>
            <div id=timer>
              <h1>Time {{timer.currentSeconds | elapsedTime}}</h1>
            </div>
          </div>
          <ul class="row list-inline list-unstyled">
            <li class="card_container" 
            ng-repeat="card in cards" 
            ng-class="{flipped: card.isShowing}"
            ng-click="reveal(card)">
            <div class="card" ng-style="{'width': card.width, 'height': card.height}">
              <div class="front face" ng-class="card.pattern">
              </div>
              <div class="back face center" ng-style="{'font-size': card.fontSize}">
                <span ng-class="card.image" class="fa" ng-style="{color: card.color}"></span>
              </div>
            </div>
            </li>
          </ul>
          <modal show='modalShown' width='40%'>
            <h1>Stage {{stage}} Complete!</h1>
            <h2>Completed in {{elapsedSeconds | elapsedTime}}</h2>
            <button class="btn btn-success btn-lg" ng-click="nextStage()">Start Next Stage</button>
          </modal>
        </div>
      </div>

      <!-- build:js scripts/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/underscore/underscore.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js scripts/index.js -->
      <script src="scripts/memorizemaster.js"></script>
      <script src="scripts/directives/modal.js"></script>
      <script src="scripts/services/imagelist.js"></script>
      <script src="scripts/services/card.js"></script>
      <script src="scripts/services/timer.js"></script>
      <script src="scripts/services/highscores.js"></script>
      <script src="scripts/filters/elapsedtime.js"></script>
      <script src="scripts/controllers/game.js"></script>
      <script src="scripts/controllers/background.js"></script>
      <!-- endbuild -->
    </body>
</html>
