<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>Memorize Master</title>

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/angular-csp.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/modal.css">
        <!-- endbuild -->
    </head>
    <body ng-csp ng-app="MemorizeMaster">
      <div class="container-fluid" ng-controller="GameCtrl">
        <div class="row" id="hud">
          <h1 id="stage">Stage {{stage}}</h1>
          <div id=timer>
            <h1>Time {{elapsedSeconds | elapsedTime}}</h1>
            <h1 ng-show="bestScores[stage]">(Best: {{bestScores[stage] | elapsedTime}})</h1>
          </div>
        </div>
        <ul class="row list-inline list-unstyled">
          <li class="card" 
          ng-repeat="card in cards" 
          ng-class="card.isShowing ? 'front' : 'back'" 
          ng-click="reveal(card)">
          <span ng-class="card.image" class="fa" ng-style="{color: card.currentColor()}"></span>
          </li>
        </ul>
        <modal show='modalShown' width='40%'>
          <h1>Stage {{stage}} Complete!</h1>
          <h2>Completed in {{elapsedSeconds | elapsedTime}}</h2>
          <button ng-click="nextStage()">Start Next Stage</button>
        </modal>
      </div>

      <!-- build:js scripts/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/underscore/underscore.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js scripts/index.js -->
      <script src="scripts/memorizemaster.js"></script>
      <script src="scripts/directives/modal.js"></script>
      <script src="scripts/services/imagelist.js"></script>
      <script src="scripts/services/card.js"></script>
      <script src="scripts/filters/elapsedtime.js"></script>
      <script src="scripts/controllers/game.js"></script>
      <!-- endbuild -->
    </body>
</html>
