<div ng-controller="AlertCtrl">
  <h1 class="alert" 
    ng-repeat="alert in alerts"  
    ng-show="alert.isShowing"
    ng-style="{color: alert.color}">
    {{alert.text}}
  </h1>
</div>

<ul class="row list-inline list-unstyled">
  <li class="card_container" 
      ng-class="{flipped: card.isShowing}"
      ng-click="reveal(card)"
      ng-repeat="card in cards">
    <div class="card">
      <div class="front face" ng-class="card.pattern">
      </div>
      <div class="back face center">
        <span ng-class="card.image" class="fa" ng-style="{color: card.color}"></span>
      </div>
    </div>
  </li>
</ul>
