<div class="modal-header">
  <h1 class="text-center" ng-if="winning">Stage {{stage}} Complete!</h1>
  <h1 class="text-center" ng-if="!winning">Game Over</h1>
</div>
<div class="text-center modal-body">
  <h2 ng-if="winning">Time Remaining: {{remainingTime | elapsedTime}}</h2>
  <h2>Score: {{score}}</h2>
  <h3 class="text-success" ng-show="newHighScore">(New High Score!)</h3>
	<div class="text-center">

    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=blricenet-20&o=1&p=13&l=ez&f=ifr&f=ifr&linkID=PXWGEVS23BIYHTZM"
						width="468"
						height="60"
						scrolling="no"
						marginwidth="0"
						marginheight="0"
						border="0"
						frameborder="0"
						style="border:none;max-width:800px;max-height:600px;">
		</iframe>


    <!-- google-chrome
    <webview id="affiliate"></webview>
    google-chrome -->
	</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-lg" ng-click="dismiss()">Start Over</button>
  <button type="button"
    class="btn btn-primary btn-lg"
    ng-click="close()"
    ng-show="winning">Next Stage</button>
</div>
